@tailwind base;
@tailwind components;
@tailwind utilities;

.property-card {
  @apply relative rounded-lg max-lg:max-w-96 max-w-screen-md max-lg:max-h-96;
}

@layer base {
  /*
  --color-1: hsl(213, 12%, 25%);
  --color-2: hsl(220, 10%, 40%);
  --color-3: hsl(24, 24%, 75%);
  --color-4: hsl(162, 27%, 70%);
  --color-5: hsl(0, 0%, 12%);
  --color-6: hsl(0, 0%, 15%);
  --color-7: hsl(0, 0%, 55%);
  --color-8: hsl(0, 0%, 25%);
  --color-9: hsl(0, 0%, 98%);
  --color-10: hsl(0, 62%, 30%);
  */
  :root {
    --color-1: 213, 12%, 25%; /* Arsenic */
    --color-2: 220, 10%, 40%; /* Black Coral */
    --color-3: 24, 24%, 75%; /* Dark Vanilla */
    --color-4: 162, 27%, 70%; /* Azureish White */
    --color-5: 0, 0%, 12%; /* Very dark gray */
    --color-6: 0, 0%, 15%; /* Dark gray */
    --color-7: 0, 0%, 55%; /* Medium gray */
    --color-8: 0, 0%, 25%; /* Dark gray */
    --color-9: 0, 0%, 98%; /* Almost white */
    --color-10: 0, 62%, 30%; /* Dark red */

    /* Main usage */
    --background: var(--color-2); /* Light Azureish White */
    --foreground: var(--color-3); /* Arsenic */
    --card: var(--color-3); /* Dark Vanilla */
    --card-foreground: var(--color-5); /* Very dark gray */
    --popover: var(--color-3); /* Dark Vanilla */
    --popover-foreground: var(--color-1); /* Arsenic */
    --primary: var(--color-2); /* Black Coral */
    --primary-foreground: var(--color-9); /* Almost white */
    --secondary: var(--color-1); /* Arsenic */
    --secondary-foreground: var(--color-3); /* Dark Vanilla */
    --accent: var(--color-2); /* Black Coral */
    --accent-foreground: var(--color-4); /* Azureish White */
    --muted: var(--color-3); /* Dark Vanilla */
    --muted-foreground: var(--color-7); /* Medium gray */
    --destructive: var(--color-10); /* Dark red */
    --destructive-foreground: var(--color-9); /* Almost white */
    --border: var(--color-2); /* Black Coral */
    --input: hsl(210, 5%, 90%); /* Light gray */
    --ring: var(--color-2); /* Black Coral */
    --radius: 0.5rem;

    /* Sidebar-specific */
    --sidebar-background: var(--color-1); /* Arsenic */
    --sidebar-foreground: var(--color-3); /* Dark Vanilla */
    --sidebar-primary: var(--color-2); /* Black Coral */
    --sidebar-primary-foreground: var(--color-9); /* Almost white */
    --sidebar-accent: var(--color-2); /* Black Coral */
    --sidebar-accent-foreground: var(--color-4); /* Azureish White */
    --sidebar-border: var(--color-3); /* Dark Vanilla */
    --sidebar-ring: var(--color-2); /* Black Coral */
  }

  .dark {
    --background: var(--color-1);
    --foreground: var(--color-3);
    --card: var(--color-6);
    --card-foreground: var(--color-3);
    --popover: var(--color-6);
    --popover-foreground: var(--color-3);
    --primary: var(--color-2);
    --primary-foreground: var(--color-9);
    --secondary: var(--color-1);
    --secondary-foreground: var(--color-3);
    --accent: var(--color-2);
    --accent-foreground: var(--color-9);
    --muted: var(--color-6);
    --muted-foreground: var(--color-7);
    --destructive: var(--color-10);
    --destructive-foreground: var(--color-9);
    --border: var(--color-8);
    --input: var(--color-6);
    --ring: var(--color-2);
    --radius: 0.5rem;
    --sidebar-background: var(--color-5);
    --sidebar-foreground: var(--color-3);
    --sidebar-primary: var(--color-2);
    --sidebar-primary-foreground: var(--color-9);
    --sidebar-accent: var(--color-1);
    --sidebar-accent-foreground: var(--color-3);
    --sidebar-border: var(--color-8);
    --sidebar-ring: var(--color-2);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
